on:
  push:
    branches: [main]

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.0
      - name: docker_hub_login
        uses: docker/login-action@v3 
        with:
          registry: ghcr.io
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: bobbyjackmcreed/express-app:latest